---
---

@import '{{ site.theme }}';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200..800&display=swap');

/* append your custom style below */

* {
    font-family: 'Montserrat', sans-serif;
}

#sidebar .site-title {
    font-weight: 600;
}

#topbar #breadcrumb {
    font-weight: 800;
}

.post > * {
    font-family: 'Montserrat', sans-serif;
}
